.card {
    width: 250px;
    border: 1px solid #ccc;
    padding: 15px;
    margin: 20px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    text-align: center;
}

    .card img {
        width: 100%;
    }

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

    button:hover {
        background-color: #0056b3;
    }
